{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
    </style>

    <div class="wrapper">
        <h1>List of countries</h1>
        <a class="btn btn-primary mb-2" href="{{ path('countries') }}" role="button">Reset</a>

        <form class="my-2" action="" method="get">
            <div class="form-group mb-1">
                <label for="region-select">Filter countries by region:</label>
                <select class="form-control form-control-sm" name="region">
                        <option value="">--Choose a region--</option>
                    {% for countryRegion in countryRegions %}
                        <option value="{{ countryRegion }}" {% if countryRegion == regionFilter %}selected{% endif %}>{{ countryRegion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-1">
                <label for="country-select">Filter countries smaller than (by population):</label>
                <select class="form-control form-control-sm" name="country">
                        <option value="">--Choose a country--</option>
                    {% for countryName in countryNames %}
                        <option value="{{ countryName }}" {% if countryName == countryFilter %}selected{% endif %}>{{ countryName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-dark btn-sm">Filter</button>
        </form>

        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">{{ knp_pagination_sortable(countries, 'Population', 'population') }}</th>
                <th scope="col">{{ knp_pagination_sortable(countries, 'Region', 'region') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ country.name }}</td>
                    <td>{{ country.population }}</td>
                    <td>{{ country.region }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(countries) }}
        </div>
    </div>
{% endblock %}