{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
    </style>

    <div class="wrapper">
        <h1>List of countries</h1>
        <a class="btn btn-primary mb-2" href="{{ path('countries') }}" role="button">All countries</a>
        <a class="btn btn-primary mb-2" href="{{ path('countries')~'?filter=europe'}}" role="button">Only in Europe</a>
        <a class="btn btn-primary mb-2" href="{{ path('countries')~'?filter=smallerthanlithuania'}}" role="button">Smaller in population than Lithuania</a>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">{{ knp_pagination_sortable(countries, 'Population', 'population') }}</th>
                <th scope="col">{{ knp_pagination_sortable(countries, 'Region', 'region') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ country.name }}</td>
                    <td>{{ country.population }}</td>
                    <td>{{ country.region }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(countries) }}
        </div>
    </div>
{% endblock %}