{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
    </style>

    <div class="wrapper">
        <h1>List of countries smaller in population than Lithuania</h1>
        <a class="btn btn-primary mb-2" href="/countries" role="button">All countries</a>
        <a class="btn btn-primary mb-2" href="/countries/Europe" role="button">Only in Europe</a>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">{{ knp_pagination_sortable(countries, 'Population', 'population') }}</th>
                <th scope="col">{{ knp_pagination_sortable(countries, 'Region', 'region') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr>
                    <td>{{ country.name }}</td>
                    <td>{{ country.population }}</td>
                    <td>{{ country.region }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(countries) }}
        </div>
    </div>
{% endblock %}